OPENAI_API_KEY=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
BOT_NAME=CaineBot
BOT_PASSWORD=ItzBubble
